name: meridian_flights_bot_centrum

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Documents/projects/meridian_flights_bot_centrum
            git pull origin master

            cd ~/Documents/projects
            docker compose build meridian_flights_bot_centrum
            docker compose up -d meridian_flights_bot_centrum
